
<html lang=en>
<head><script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
	<meta charset=UTF-8>
	<title>HairPR | Join the Waiting List </title>
	<meta name="description" content="HairPR - Join the Waiting List">
	<link href="{{ STATIC_URL }}static/splashstyles-272cfa769af9d53aa10028c897deb1ad.css" media="screen" rel="stylesheet" type="text/css" />	  
</head>

<body>
<header>
	<hgroup>
		<a href="/"><img src="{{ STATIC_URL }}static/logo.png" alt="HairPR"></a>
	</hgroup>
</header>

<div class=clearfix>
	<div id=content>
		<article>
        	<header>
				<img src="{{ STATIC_URL }}static/prdonebetter.png">
			</header>           
			<footer>
				<form accept-charset="UTF-8" action="/splash" class="new_contact" id="new_contact" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="QU0nxNJ5dxLH7bIabIAI3BxiqJxcUlqSBY1TokpDOJs=" /></div>
					<input autocomplete="true" id="contact_email" name="contact[email]" placeholder="example@domain.com" required="required" type="email" /><p/>									
					<button class="button" type="submit"><span><span>Join the waiting list</span></span></button>																			      
</form>            </footer>
							
		</article>
	</div>
</div>

<footer class=clearfix>
	<p class=copyright> &copy; 2012 HairPR. No Rights Reserved.</p>
</footer>
<script src="{{ STATIC_URL }}static/application-sync-7504d6a819b9e87d6d7f008ca9e900e1.js" type="text/javascript"></script>
<script async="async" defer="defer" src="{{ STATIC_URL }}static/application-eaedb55749f6e3d46d54497938d30c31.js" type="text/javascript"></script>	 
<script type="text/javascript">if (!NREUMQ.f) { NREUMQ.f=function() {
NREUMQ.push(["load",new Date().getTime()]);
var e=document.createElement("script");
e.type="text/javascript";e.async=true;e.src="https://d1ros97qkrwjf5.cloudfront.net/30/eum/rum.js";
document.body.appendChild(e);
if(NREUMQ.a)NREUMQ.a();
};
NREUMQ.a=window.onload;window.onload=NREUMQ.f;
};
NREUMQ.push(["nrfj","beacon-1.newrelic.com","bf6849a39d",518428,"cFkMRhFaXV9UERoVQV9XEVpMXF9XVBs=",0.0,3,new Date().getTime(),"","","","",""])</script></body>
</html>
